<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
	
   <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="container">

    <h2>Add New Movie</h2>

    <form th:action="@{/movies/save}" th:object="${movie}" method="post">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" th:field="*{title}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Genre</label>
            <input class="form-control" th:field="*{genre}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Director</label>
            <input class="form-control" th:field="*{director}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Year</label>
            <input type="number" class="form-control" min="1900" th:field="*{year}" required>
        </div>

        <button class="btn btn-success">Save</button>
        <a class="btn btn-secondary" th:href="@{/movies}">Cancel</a>
    </form>

</div>

</body>
</html>
