<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Movie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="login-body"> <div class="login-container"> <h2>Edit Movie</h2>

    <form th:action="@{'/movies/update/' + ${movie.id}}" th:object="${movie}" method="post">

        <div class="form-group">
            <label>Title</label>
            <input type="text" th:field="*{title}" required>
        </div>

        <div class="form-group">
            <label>Genre</label>
            <input type="text" th:field="*{genre}" required>
        </div>

        <div class="form-group">
            <label>Director</label>
            <input type="text" th:field="*{director}" required>
        </div>

        <div class="form-group">
            <label>Year</label>
            <input type="number" th:field="*{year}" required>
        </div>

        <button type="submit" class="btn-login">Update Movie</button>

        <div class="signup-link">
            <a th:href="@{/movies}">Cancel</a>
        </div>
        
    </form>

</div>

</body>
</html>