<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <head>
    <meta charset="UTF-8">
    <title>Movie Library</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="container">

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <span>Welcome, <b sec:authentication="name">User</b></span>
        <div style="display: flex; gap: 10px;">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/users}" class="btn" style="background: rgb(174, 0, 0); color: white;">Manage Users</a>
        <a th:href="@{/logout}" class="btn" style="background: rgb(128, 0, 0); color: white; border: none;">Logout</a>
    </div>
    </div>

    <h1>Movie Library</h1>

    <div>
        <a class="btn1" th:href="@{/movies/add}">Add New Movie</a>
    </div>
<form th:action="@{/movies}" method="get" style="margin-bottom: 20px; display: flex; gap: 10px;">
    <input type="text" name="keyword" th:value="${keyword}" 
           placeholder="Search by title..." 
           style="padding: 10px; width: 100%; border: 1px solid #ccc; border-radius: 5px;">
    
    <button type="submit" class="btn" style="background: #6a11cb; color: white; border: none;">Search</button>
    
    <a th:href="@{/movies}" class="btn" style="background: #999; color: white; text-decoration: none;">Clear</a>
</form>
    <table>
        <thead>
        <tr>
        
            <th>Sl No.</th>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie,stat : ${movies}">
        		
           <td th:text="${(currentPage - 1) * pageSize + stat.count}"></td>
           <td th:text="${movie.id}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.genre}"></td>
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.year}"></td>
            
            <td>
                <a class="btn"
                   th:href="@{'/movies/edit/' + ${movie.id}}">Edit</a>

                <a class="btn"
                   th:href="@{'/movies/delete/' + ${movie.id}}"
                   onclick="return confirm('Delete this movie?')">Delete</a>
            </td>
        </tr>

        <tr th:if="${#lists.isEmpty(movies)}">
            <td colspan="6" style="text-align:center;">No movies found.</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination-container" th:if="${totalPages > 1}">
        <ul class="pagination">

            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/movies(page=1)}">First</a>
            </li>

            <li class="page-item"
                th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/movies(page=${currentPage - 1})}">Prev</a>
            </li>

            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/movies(page=${i})}" th:text="${i}"></a>
            </li>

            <li class="page-item"
                th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/movies(page=${currentPage + 1})}">Next</a>
            </li>

            <li class="page-item"
                th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/movies(page=${totalPages})}">Last</a>
            </li>

        </ul>
    </div>

</div>

</body>
</html>